.ball {
  background-color: red;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #ccc;
}

.controls {
  width: 100%;
}

#fps {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid black;
  font-size: 30px;
}
